.container {
  display: flex;
  padding: 2em 10em;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main_minu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main_minu li {
  margin: 0em 1em;
  list-style-type: none;
}
